.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.cyan {
  background-color: cyan;
}

.grey {
  background-color: grey;
}

.white--text {
  color: white;
}

.box {
  width: 300px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-float {
  clear: both;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.side-bar {
  padding: 1rem;
}

.content {
  padding: 1rem;
}

.w-30 {
  flex-basis: 30rem;
}

.w-20 {
  flex-basis: 20rem;
}

.nav {
  list-style: none;
}

.nav-link {
  text-decoration: none;
}

.misc p {
  background-color: violet;
}

.misc>p {
  background-color: teal;
}

.misc div p+p {
  background-color: navy;
}