table {
    width: 400px;
}

th, caption {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    }
    
    table {
columns:after collapse;
}

th, td {
    padding: 10px;
}
img {
    display: block;
    width: 100%;
    height: 700px;

}
nav {
    text-shadow: gray;
    text-decoration: floralwhite;
    align-self: center;
    background-color: rgb(4, 56, 30); font-size:xx-large; font-display: black;
    font-color: black; border: rgb(54, 44, 116);
}
body {
    font-family: 'Open Sans', sans-serif;
    
    background-color: rgb(99, 211, 35);
}
}
nav{
    position: relative;
    margin: 270px auto 0;
    width: 590px;
    height: 50px;
    background: rgb(44, 7, 70);
    border-radius: 8px;
    font-size: 0px;
    box-shadow: 0 2px 3px 0 rgb(0,0,0,.1);

}
nav a {
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}
nav .animation{
    position: absolute;
    height: 5px;
    top: 0;
    z-index: o;
    background: #1abc9c;
    width: 100px;
    border-radius:8px;
    transmition: all .5s ease 0s;
}
a:nth-child(1){
    width: 100px;
}
nav .start-home,a:nth-child(1):hover.animation
width: 100px;
left: 0px;

a:nth-child(2){
    width: 110px;
}
nav .start-About,a:nth-child(2):hover~.animation
width: 110px;
left: 100px;

a:nth-child(3){
    width: 100px;
}
nav .start-Blog,a:nth-child(3):hover~.animation
width: 100px;
left: 210px;

a:nth-child(4){
    width: 160px;
}
nav .start-Table,a:nth-child(4):hover~.animation
width: 160px;
left: 310px;

a:nth-child(5){
    width: 120px;
}
nav .start-Contact,a:nth-child(5):hover~.animation
width: 120px;
left: 470px;

